
<div class="h100 p-5 bg-light rounded-3">

  <h1 class="display-4">Seja Bem-Vindo!</h1>
  <p class="lead">Olá, me chamo Igor e estou desenvolvendo esta aplicação Web, como trabalho prático do curso de Ruby on Rails da Udemy.</p>
  <hr class="my-4">
  <p>O objetivo dessa aplicação será um simulador de carteira de criptomoedas, onde o usuário poderá: Adicionar, excluir e editar sua carteira, com preço de entrada, a aplicação irá buscar o preço atual e retornará os lucros ou perdas do usuário.</p>
  <p class="lead">
  <%= render "menu" %>
  </p>

</div>
<p> <strong>Data de acesso:</strong> <%= I18n.l(Date.today) %></p>
<p>Idioma padrão: <strong><%= t('actual_locale') %></strong></p>