<h1>Seja Bem-Vindo!</h1>
<p>
Ao meu projeto de Ruby on Rails!
</p>

<p>Olá, me chamo Igor e estou desenvolvendo 
esta aplicação Web, como trabalho prático do curso
de Ruby on Rails da Udemy.</p>

<p>O objetivo dessa aplicação será um simulador de carteira de criptomoedas, onde o usuário poderá: Adicionar, excluir e editar sua carteira, com preço de entrada, a aplicação irá buscar o preço atual e retornará os lucros ou perdas do usuário.</p>

<%= render "menu" %>

<p> <strong>Data de acesso:</strong> <%= data_br(Date.today) %></p>
<p> Nome passado como parametro: <%= @nome%>
