<p style="color: green"><%= notice %></p>

<h1>Moedas</h1>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    
      <%= link_to "Mostrar essa moeda", coin %>
      <p> </p>
    
  <% end %>
</div>

<%= link_to "Nova moeda", new_coin_path %>
<p>
<a href='http://[::1]:3000/welcome/index'>Início</a>
</p>