<p style="color: green"><%= notice %></p>
<h1>Moedas</h1>

<div id="coins">
  
  <% @coins.each do |coin| %>
    <%= render coin %>
  <% end %>
  
</div>

<%= link_to t('links.new'), new_coin_path %> |
<%= link_to t('links.home'), welcome_index_path %>
